<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032945606148-rnlnkcnh88r5cv09lv5qauvsjblla0mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032945606148-rnlnkcnh88r5cv09lv5qauvsjblla0mb</string>
	<key>API_KEY</key>
	<string>AIzaSyAyRaJuKAA1uDHcW_x9tAIXsbNIhvkDjY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1032945606148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyTestApp</string>
	<key>PROJECT_ID</key>
	<string>french-7ad71</string>
	<key>STORAGE_BUCKET</key>
	<string>french-7ad71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032945606148:ios:5776653b930a3521441f51</string>
	<key>DATABASE_URL</key>
	<string>https://french-7ad71-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
